{%- capture class -%}
  x-product-tag-chip h6 variant/{{ variant | default: 'default' }}
{%- endcapture -%}

{%- capture children -%}
  {{ text | default: tag }}
{%- endcapture -%}

{% assign tag_handle = tag | handleize %}
{% assign related_collection = collections[tag_handle] %}

{% if related_collection != null %}
  {% assign url = related_collection.url %}
{% else %}
  {%- capture url -%}
    {{ routes.all_products_collection_url }}/{{ tag | handleize }}
  {%- endcapture -%}
{% endif %}

{% if tag %}
  <a
    class='{{ class }}'
    href='{{ url }}'
  >
    {{ children }}
  </a>
{% else %}
  <div class='{{ class }}'>
    {{ children }}
  </div>
{% endif %}

{% stylesheet %}
  .x-product-tag-chip {
    display: inline-block;
    padding-inline: 0.3em;
    padding-block: 0.3em;

    letter-spacing: -0.03em !important;
    text-transform: unset !important;

    border-radius: 6px;
    border: 1px solid color-mix(in oklab, currentColor, transparent 50%);

    text-wrap: nowrap;

    &.variant\/default {
      color: currentColor;
    }

    &.variant\/new {
      color: #2791ae;
    }

    &.variant\/sale {
      color: #b94de7;
    }

    &.variant\/low-stock {
      color: #e74d4d;
    }

    &.variant\/out-of-stock {
      color: #888;
    }
  }
{% endstylesheet %}
