{%- capture class -%}
  x-product-tag-chip
{%- endcapture -%}

{%- capture children -%}
  {% assign tag_text = text | default: tag %}
  {% render 'x-chip', text: tag_text, variant: variant %}
{%- endcapture -%}

{% if tag %}
  {% assign tag_handle = tag | handleize %}
  {% assign related_collection = collections[tag_handle] %}

  {% if related_collection != null %}
    {% assign url = related_collection.url %}
  {% else %}
    {%- capture url -%}
      {{ routes.all_products_collection_url }}/{{ tag_handle }}
    {%- endcapture -%}
  {% endif %}
  <a
    class='{{ class }}'
    href='{{ url }}'
  >
    {{ children }}
  </a>
{% else %}
  <div class='{{ class }}'>
    {{ children }}
  </div>
{% endif %}

{% stylesheet %}
  .x-product-tag-chip {
    display: contents;
  }
{% endstylesheet %}
