<div class='x-product-details-breakdown'>
  <div
    class='product-details-heading'
    data-product-pull-node='product-details-heading-{{ block.id }}-{{ product.id }}'
  >
    <div class='product-details-tags'>
      {% for collection in product.collections %}
        <a
          href='{{ collection.url }}'
          class='product-details-tag-link'
        >
          {% render 'x-product-tag-chip', text: collection.title %}
        </a>
      {% endfor %}
    </div>
    <h1 class='product-details-title h1'>
      {{ product.title }}
    </h1>
  </div>
  <div
    class='product-details-info'
    data-product-pull-node='product-details-info-{{ block.id }}-{{ product.id }}'
  >
    <div class='product-details-price h4'>
      {{ product.price | money }}
    </div>
    <div class='product-details-particulars'>
      <div
        class='product-details-description'
        data-follow-child-rect
      >
        <div
          class='product-details-description-container'
          data-follow-child-rect-target
        >
          {{ product.description }}
        </div>
      </div>
      <div class='product-details-buttons'>
        <div class='product-details-variant'>
          {% render 'x-product-variant-form', product: product %}
        </div>
        <div class='product-details-payment'>
          {% render 'x-product-payment-form', product: product %}
        </div>
      </div>
    </div>
  </div>
</div>

{% stylesheet %}
  .x-product-details-breakdown {
    position: sticky;
    top: var(--x-header-height);

    padding-top: 32px;

    display: flex;
    flex-direction: column;
    gap: 64px;

    & {
      min-height: calc(100lvh - var(--x-header-height));
    }
    @media (width < 1024px) {
      min-height: auto;
    }

    & .product-details-heading {
      display: flex;
      flex-direction: column;
      gap: 8px;

      padding-inline: 32px;

      & .product-details-tags {
        & .product-details-tag-link {
          color: currentColor;
        }
      }

      & .product-details-title {
        margin: 0;
      }
    }

    & .product-details-info {
      flex-grow: 1;

      display: flex;
      flex-direction: column;
      gap: 32px;

      overflow: clip;

      & .product-details-price {
        margin: 0;
        padding-inline: 32px;
      }

      & .product-details-particulars {
        flex-grow: 1;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 32px;

        & .product-details-description {
          padding-inline: 32px;

          max-width: 50ch;
        }

        & .product-details-buttons {
          display: flex;
          flex-direction: column;
          gap: 16px;

          padding-block: 32px;
          padding-inline: 32px;

          position: sticky;
          bottom: 0;

          &::after {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            inset-inline: 0;
            height: 32px;

            translate: 0 -100%;
            background: linear-gradient(to top, var(--color-background), transparent);
          }

          &::before {
            content: '';
            position: absolute;
            inset: 0;
            display: block;
            background: var(--color-background);
            pointer-events: none;
          }

          & .product-details-variant {
            position: relative;

            & .product-variant-form {
              display: flex;
              flex-direction: column;
              gap: 8px;
            }
          }

          & .product-details-payment {
            & .product-payment-form {
              display: flex;
              flex-direction: column;
              gap: 16px;
            }
          }
        }
      }
    }
  }
{% endstylesheet %}
