{% liquid
  assign variant = product.selected_or_first_available_variant
  assign inventory_quantity = variant.inventory_quantity
  assign inventory_policy = variant.inventory_policy

  if variant.inventory_management == 'shopify'
    assign inventory_managed = true
  endif

  if variant.quantity_rule.min > variant.inventory_quantity and inventory_managed and inventory_policy == 'deny'
    assign quantity_rule_soldout = true
  endif

  assign checkout_text = 'products.product.buy_now' | t

  if product != blank
    assign can_add_to_cart = true
  else
    assign can_add_to_cart = false
  endif

  if inventory_managed
    if inventory_quantity <= 0 and inventory_policy == 'deny' or quantity_rule_soldout
      assign can_add_to_cart = false
      assign add_to_cart_text = 'products.product.sold_out' | t
    else
      assign can_add_to_cart = true
      assign add_to_cart_text = 'products.product.add_to_cart' | t
    endif
  else
    if closest.product.selected_or_first_available_variant != null
      assign can_add_to_cart = true
      assign add_to_cart_text = 'products.product.add_to_cart' | t
    else
      assign can_add_to_cart = false
      assign add_to_cart_text = 'products.product.unavailable' | t
    endif
  endif
%}

<div
  class='x-product-payment-form'
  data-product-pull-node='product-payment-form-{{ block.id }}-{{ product.id }}'
>
  {%- if can_add_to_cart -%}
    <product-form-component
      data-section-id='{{ section.id }}'
      data-product-id='{{ product.id }}'
      data-product-url='{{ product.url }}'
      on:submit='/handleSubmit'
    >
      <div
        class='visually-hidden'
        aria-live='assertive'
        role='status'
        aria-atomic='true'
        ref='liveRegion'
      ></div>
      {%- capture product_form_id -%}
        product-payment-form-{{ section.id }}
      {%- endcapture -%}
      {%- form 'product', product, id: product_form_id, data-type: 'add-to-cart-form' -%}
        <input
          type='hidden'
          name='id'
          ref='variantId'
          value='{{ product.selected_or_first_available_variant.id }}'
        >
        <div
          class='payment-form-buttons'
        >
          <div
            class='payment-form-quantity'
            data-form-input-number-controls
          >
            <button
              class='payment-form-quantity-decrement'
              type='button'
              data-form-input-number-controls-decrement
            >
              {% render 'x-button', text: '-' %}
            </button>
            <div class='payment-form-quantity-input-frame'>
              <input
                class='payment-form-quantity-input'
                type='number'
                name='quantity'
                value='{{ in_cart_quantity | default: 1 }}'
                min='{{ min | default: 1 }}'
                aria-label='{{ 'accessibility.quantity' | t }}'
                {% if variant.quantity_rule.max %}
                  max='{{ variant.quantity_rule.max }}'
                {% endif %}
                step='{{ variant.quantity_rule.increment | default: 1 }}'
              >
            </div>
            <button
              class='payment-form-quantity-increment'
              type='button'
              data-form-input-number-controls-increment
            >
              {% render 'x-button', text: '+' %}
            </button>
          </div>

          <button
            class='payment-form-add-to-cart-button'
            data-follow-add-to-cart
          >
            <div class='payment-form-add-to-cart-button-trigger'>
              {% render 'x-button', text: add_to_cart_text %}
            </div>
            <div class='payment-form-add-to-cart-button-spinner'>
              {% render 'x-spinner' %}
            </div>
            <div class='payment-form-add-to-cart-button-success hb'>
              {% assign added_to_cart_text = 'products.product.added_to_cart' | t %}
              {{ added_to_cart_text }}
            </div>
            <div
              class='payment-form-add-to-cart-button-error hidden'
              ref='addToCartTextError'
            ></div>
          </button>
          <button
            class='payment-form-checkout-button'
            data-button-for='shopify-buy-it-now-button button'
          >
            {% render 'x-button', variant: 'primary', text: checkout_text %}
          </button>
          <div class='payment-form-accelerated-button'>
            {{ form | payment_button }}
          </div>
        </div>
      {%- endform -%}
    </product-form-component>
  {%- else -%}
    <div class='payment-form-buttons'>
      <button
        class='payment-form-sold-out-button'
        type='submit'
        name='add'
        disabled
      >
        {% render 'x-button', text: add_to_cart_text %}
      </button>
    </div>
  {%- endif -%}
</div>

{% stylesheet %}
  .x-product-payment-form {
    & .payment-form-buttons {
      display: flex;
      gap: 8px;
      flex-wrap: wrap;
      align-items: flex-start;

      & .payment-form-quantity {
        display: grid;
        grid-template-columns: 1fr auto 1fr;
        gap: 4px;

        & .payment-form-quantity-decrement,
        & .payment-form-quantity-increment {
          all: unset;
          display: flex;

          &.payment-form-quantity-decrement {
            margin-right: -32px;
          }
          &.payment-form-quantity-increment {
            margin-left: -32px;
          }
        }

        & .payment-form-quantity-input-frame {
          height: 100%;
          aspect-ratio: 1 / 1;
          border: 1px solid currentColor;
          border-radius: 9999px;

          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          & .payment-form-quantity-input {
            font: inherit;
            appearance: none;
            text-align: center;
            width: 2em;
            height: 2em;
            padding: 0;
            margin: 0;
            background: linear-gradient(to top, var(--color-background) 50%, transparent);
            backdrop-filter: blur(2px);
            position: relative;
            z-index: 10;
            border: 1px solid currentColor;
            border-radius: 9999px;

            &::-webkit-outer-spin-button,
            &::-webkit-inner-spin-button {
              appearance: none;
            }
          }
        }
      }

      & .payment-form-add-to-cart-button,
      & .payment-form-checkout-button,
      & .payment-form-sold-out-button {
        all: unset;

        position: relative;

        display: flex;
        flex-direction: column;

        &.payment-form-add-to-cart-button {
          flex-grow: 999;

          position: relative;

          display: flex;
          flex-direction: column;
          gap: 4px;

          & .payment-form-add-to-cart-button-trigger {
            display: flex;
            flex-direction: column;

            transition-property: opacity, filter;
          }
          &[data-follow-add-to-cart-status='pending'] .payment-form-add-to-cart-button-trigger {
            opacity: 0;
            filter: blur(4px);

            pointer-events: none;
          }

          & .payment-form-add-to-cart-button-spinner {
            position: absolute;
            inset: 0;

            display: flex;
            justify-content: center;
            align-items: center;

            background: var(--color-background);
            border-radius: 9999px;

            transition-property: opacity, filter;
          }
          &:not([data-follow-add-to-cart-status='pending']) .payment-form-add-to-cart-button-spinner {
            opacity: 0;
            filter: blur(4px);

            pointer-events: none;
          }

          & .payment-form-add-to-cart-button-success {
            position: absolute;
            inset: 0;

            display: flex;
            justify-content: center;
            align-items: center;

            background: var(--color-background);
            border-radius: 9999px;

            pointer-events: none;
            mix-blend-mode: hard-light;

            opacity: 0;
          }
          &[data-follow-add-to-cart-status='fulfilled'] .payment-form-add-to-cart-button-success {
            animation: payment-form-add-to-cart-success 2s var(--ease-in-out) both;
          }

          & .payment-form-add-to-cart-button-error {
            color: var(--color-error);
            text-align: center;
            font-size: 0.875em;
          }
        }

        &.payment-form-checkout-button {
          flex-grow: 1;
        }
      }

      & .payment-form-accelerated-button {
        visibility: hidden;
        position: absolute;
      }
    }
  }

  @keyframes payment-form-add-to-cart-success {
    0% {
      opacity: 1;
      filter: blur(10px);
    }

    50% {
      opacity: 1;
      filter: blur(0);
    }

    100% {
      opacity: 0;
      filter: blur(4px);
    }
  }
{% endstylesheet %}
