<form class='x-product-variant-form'>
  {% for product_option in product.options_with_values %}
    {% assign product_option_index = forloop.index0 %}
    <fieldset class='product-variant-container'>
      <div class='product-variant-heading'>
        <legend class='product-variant-title h6'>{{ product_option.name }}</legend>
      </div>
      <div class='product-variant-fields'>
        {% for product_option_value in product_option.values %}
          {% liquid
            unless product_option_value.variant.id
              continue
            endunless
          %}
          {%- capture id -%}
            {{ product_option.name | escape }}-{{ product_option_value | escape }}-{{ block.id }}-{{ product.id }}
          {%- endcapture -%}
          {%- capture name -%}
            {{ product_option.name | escape }}-{{ block.id }}-{{ product.id }}
          {%- endcapture -%}
          {%- capture value -%}
            {{ product_option_value | escape }}
          {%- endcapture -%}
          <label class='product-variant-field'>
            <input
              class='product-variant-input'
              type='radio'

              id='{{ id }}'
              name='{{ name }}'
              value='{{ value }}'
              {% if product_option_value == product.selected_or_first_available_variant.options[product_option_index] %}
                checked
              {% endif %}
              {% if product_option_value.available == false %}
                aria-disabled='true'
              {% endif %}

              data-product-pull-option
              data-product-pull-option-name='variant'
              data-product-pull-option-value='{{ product_option_value.variant.id }}'

              data-option-value-id='{{ product_option_value.id }}'
              data-variant-id='{{ product_option_value.variant.id }}'
            >
            <div
              class='product-variant-button'
            >
              {% render 'x-button', variant: 'gum', text: value %}
            </div>
          </label>
        {% endfor %}
        {% if product_option.name == 'Size' %}
          <div class='product-variant-field'>
            <a
              class='product-variant-button'
              href='{{ product.metafields.custom.size_chart | image_url }}'
              target='_blank'
              rel='noopener'
            >
              <div
                class='product-variant-size-chart h5'
                data-marquee
              >
                <span>Size Chart</span>
              </div>
            </a>
          </div>
        {% endif %}
      </div>
    </fieldset>
  {% endfor %}
</form>

{% stylesheet %}
  .x-product-variant-form {
    display: flex;
    flex-direction: column;

    & .product-variant-container {
      margin: 0;
      padding: 0;
      border: 0;

      display: flex;
      flex-direction: column;
      gap: 8px;

      & .product-variant-fields {
        display: flex;
        flex-wrap: wrap;
        gap: 8px;

        & .product-variant-field {
          flex-basis: 16ch;
          display: flex;
          flex-grow: 1;

          & .product-variant-input {
            position: absolute;
            visibility: hidden;
          }

          & .product-variant-button {
            all: unset;
            position: relative;
            flex-grow: 1;

            display: flex;
            flex-direction: column;

            &::after {
              content: '';
              position: absolute;
              inset: 0;
              background: radial-gradient(circle at center, white 50%, transparent);
              mix-blend-mode: difference;

              pointer-events: none;

              opacity: 0;
              transition-property: opacity;
            }

            & .product-variant-size-chart {
              flex-grow: 1;
              width: 100%;
              min-width: min(100%, 32ch);
              height: 28px;

              display: flex;
              align-items: center;

              text-transform: uppercase;
              text-decoration: underline;
              border-block: 1px solid currentColor;
              text-wrap: nowrap;

              & [data-marquee-item] {
                margin-left: 16px;
              }
            }
          }

          & .product-variant-input:checked + .product-variant-button {
            &::after {
              opacity: 1;
            }
          }
        }
      }
    }
  }
{% endstylesheet %}
