{% capture strip %}
  {%  content_for 'block', type: 'x-product-details-strip', id: 'strip' %}
{% endcapture %}
{% capture carousel %}
  {%  content_for 'block', type: 'x-product-details-carousel', id: 'carousel' %}
{% endcapture %}
{% capture breakdown %}
  {%  content_for 'block', type: 'x-product-details-breakdown', id: 'breakdown' %}
{% endcapture %}

<section
  class='x-product-details'
  data-product-details
  data-product-id='{{ product.id }}'
  data-product-pull
  data-product-pull-url='{{ product.url }}'
  data-product-pull-section='{{ section.id }}'
>
  <div class='product-details-container'>
    <div class='product-details-strip'>{{ strip }}</div>
    <div class='product-details-carousel'>{{ carousel }}</div>
    <div class='product-details-breakdown'>{{ breakdown }}</div>
  </div>
</section>

{% stylesheet %}
  .x-product-details {
    padding-top: var(--x-header-height);
    container-type: inline-size;

    display: flex;

    & .product-details-container {
      flex-grow: 1;

      display: grid;

      & {
        grid-template-columns: 0.4fr 0.6fr;
        grid-template-rows: auto;

        & .product-details-strip {
          display: block;
        }
        & .product-details-carousel {
          display: none;
        }
      }
      @container (width < 1024px) {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;

        & .product-details-strip {
          display: none;
        }
        & .product-details-carousel {
          display: block;
          max-height: calc(50lvh - var(--x-header-height));
        }
      }
    }
  }
  [data-fragment] .x-product-details {
    padding-top: 0;

    & .product-details-container {
      & .product-details-strip {
        display: none;
      }
      & .product-details-carousel {
        display: block;
        max-height: none;
      }
    }
  }
{% endstylesheet %}

{% schema %}
{
  "name": "Product: Details",
  "class": "slot",
  "blocks": [{ "type": "x-product-details-strip" }, { "type": "x-product-details-breakdown" }],
  "settings": [
    {
      "type": "product",
      "id": "product",
      "label": "Product"
    }
  ],
  "presets": [
    {
      "name": "Product: Details",
      "category": "Product",
      "settings": { "product": "{{ closest.product }}" },
      "blocks": [
        {
          "type": "x-product-details-strip",
          "id": "strip",
          "static": true,
          "settings": { "product": "{{ closest.product }}" }
        },
        {
          "type": "x-product-details-carousel",
          "id": "carousel",
          "static": true,
          "settings": { "product": "{{ closest.product }}" }
        },
        {
          "type": "x-product-details-breakdown",
          "id": "breakdown",
          "static": true,
          "settings": { "product": "{{ closest.product }}" }
        }
      ]
    }
  ]
}
{% endschema %}
